<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>65</integer>
		<integer>57</integer>
		<integer>58</integer>
	</array>
	<key>el</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>Έξυπνες Κατοικίες</string>
			<string>Κατοικίες Loft</string>
			<string>Φιλανδικές Κατοικίες</string>
			<string>Νησιώτικες Κατοικίες</string>
			<string>Κατοικίες Country</string>
			<string>Κατοικίες Container</string>
			<string>Βίλες</string>
			<string></string>
		</array>
		<key>Images</key>
		<array>
			<string>Exupnes.png</string>
			<string>Loft.png</string>
			<string>Finlandikes.png</string>
			<string>Nisiotikes.png</string>
			<string>Country.png</string>
			<string>Container.png</string>
			<string>Villas.png</string>
			<string>Exclusive.png</string>
		</array>
	</dict>
	<key>en</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>Smart Houses</string>
			<string>Loft Houses</string>
			<string>Finnish Houses</string>
			<string>Greek Island Houses</string>
			<string>Country Houses</string>
			<string>Container Houses</string>
			<string>Villas</string>
			<string></string>
		</array>
		<key>Images</key>
		<array>
			<string>Exupnes.png</string>
			<string>Loft.png</string>
			<string>Finlandikes.png</string>
			<string>Nisiotikes.png</string>
			<string>Country.png</string>
			<string>Container.png</string>
			<string>Villas.png</string>
			<string>Exclusive.png</string>
		</array>
	</dict>
</dict>
</plist>
