<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<integer>-1</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>65</integer>
		<integer>57</integer>
		<integer>58</integer>
	</array>
	<key>en</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>General Info</string>
			<string>Smart Houses</string>
			<string>Loft Houses</string>
			<string>Finnish Houses</string>
			<string>Greek Island Houses</string>
			<string>Country Houses</string>
			<string>Container Houses</string>
			<string>Villas</string>
			<string>Exclusive Ηouses</string>
		</array>
		<key>Images</key>
		<array>
			<array/>
			<array>
				<string>01-Buy_our_app_exupnes.png</string>
				<string>02-Buy_our_app_exupnes_No1.png</string>
			</array>
			<array>
				<string>03-Buy_our_app_loft.png</string>
			</array>
			<array/>
			<array/>
			<array/>
			<array/>
			<array/>
			<array/>
		</array>
	</dict>
	<key>el</key>
	<dict>
		<key>Images</key>
		<array>
			<array/>
			<array>
				<string>01-Buy_our_app_exupnes.png</string>
				<string>02-Buy_our_app_exupnes_No1.png</string>
			</array>
			<array>
				<string>03-Buy_our_app_loft.png</string>
			</array>
			<array/>
			<array/>
			<array/>
			<array/>
			<array/>
			<array/>
		</array>
		<key>Titles</key>
		<array>
			<string>Γενικά στοιχεία</string>
			<string>Έξυπνες Κατοικίες</string>
			<string>Κατοικίες Loft</string>
			<string>Φιλανδικές Κατοικίες</string>
			<string>Νησιώτικες Κατοικίες</string>
			<string>Κατοικίες Country</string>
			<string>Κατοικίες Container</string>
			<string>Βίλλες</string>
			<string>Exclusive Houses</string>
		</array>
	</dict>
</dict>
</plist>
