<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Titles</key>
	<dict>
		<key>el</key>
		<array>
			<string></string>
		</array>
		<key>en</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>Images</key>
	<array>
		<string></string>
	</array>
	<key>Thumbs</key>
	<array>
		<string>00_video_frame_01.jpg</string>
	</array>
	<key>Videos</key>
	<array>
		<string>http://vimeo.com/65884358</string>
	</array>
</dict>
</plist>
