<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<integer>74</integer>
		<integer>75</integer>
	</array>
	<key>en</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>Exclusive Houses</string>
			<string>Art Houses</string>
		</array>
		<key>Images</key>
		<array>
			<string>Cycladic house 90τ.μ. .jpg</string>
			<string>Aegean house 82 τ.μ..jpg</string>
		</array>
		<key>Videos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>el</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>Κατοικίες Exclusive</string>
			<string>Κατοικίες Art</string>
		</array>
		<key>Images</key>
		<array>
			<string>Κυκλαδίτικη κατοικία 90 τ.μ..jpg</string>
			<string>Αγαιοπελαγίτικη κατοικία 82 τ.μ..jpg</string>
		</array>
		<key>Videos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
