<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<integer>74</integer>
		<integer>75</integer>
	</array>
	<key>en</key>
	<dict>
		<key>Titles</key>
		<array>
			<string></string>
			<string></string>
		</array>
		<key>Images</key>
		<array>
			<string>designer.png</string>
			<string>art.png</string>
		</array>
		<key>Videos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>el</key>
	<dict>
		<key>Titles</key>
		<array>
			<string></string>
			<string></string>
		</array>
		<key>Images</key>
		<array>
			<string>designer.png</string>
			<string>art.png</string>
		</array>
		<key>Videos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
