<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<integer>62</integer>
		<integer>63</integer>
		<integer>64</integer>
	</array>
	<key>en</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>Cycladic Ηouses</string>
			<string>Aegean Ηouses</string>
			<string>Ionian Ηouses</string>
		</array>
		<key>Images</key>
		<array>
			<string>kukladitikes.jpg</string>
			<string>aigaiopelagitikes.jpg</string>
			<string>ionion.jpg</string>
		</array>
		<key>Videos</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<key>el</key>
	<dict>
		<key>Titles</key>
		<array>
			<string>Κυκλαδίτικες Κατοικίες</string>
			<string>Αιγαιοπελαγίτικες Κατοικίες</string>
			<string>Κατοικίες Ιονίων Νήσων</string>
		</array>
		<key>Images</key>
		<array>
			<string>kukladitikes.jpg</string>
			<string>aigaiopelagitikes.jpg</string>
			<string>ionion.jpg</string>
		</array>
		<key>Videos</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
